.ads {
    background: yellow;
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    height: 90px;
    margin: 10px 0 10px 0;
  }
  
  .ads-heading {
    display: flex;
    h3 {
      margin: 0;
      padding: 25px;
    }
  }
  