.box-layout {
    // background: url('/images/bg.jpg');
    // background-size: cover;
    background: #634988;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    .icon {
      color: #634988;
    }
  }
  
  .box-layout__box {
    flex-grow: 1;
    background: white;
    max-width: 430px;
    border-radius: 10px;
  }
  
  .box-layout-form {
    padding: 40px 40px 20px 40px;
  }

  .box-layout-form__error {
      display: block;
      text-align: center;
      color: orange;
      font-style: italic;
      padding: 10px;
  }

  .box-layout-form__forgotspan {
      display: block;
      text-align: right;
      padding: 10px;
      font-size: 14px;
  }
  
  .box-layout__title {
    margin: 0;
    padding-top: 40px;
    line-height: 1;
    font-weight: 200;
    color: #634988;
    text-align: center;
  }

  .box-layout-form__links {
    font-weight: 200;
    margin: 0 0 3px 0;
    text-align: right;
    font-size: 16px;
    span {
      margin-left: 5px;
      color: #4183c4;
      cursor: pointer;
    }
  }

  .box-layout__footer {
    padding: 20px;
    background: #f5f5f5;
    border-top: 1px solid #ddd;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: center;
    a {
      letter-spacing: 3px;
      font-weight: 600;
      font-size: 15px;
    }
  }
  
  @media (max-width: 48rem) {
    .box-layout__box {
      max-width: initial;
    }
  }
  