.page-header {
    background: $off-blue;
    padding: $l-size 0 0 0;
    text-align: center;
}

.page-header__title {
    margin: 0;
    color: white;
    font-weight: 300; 
}

.page-header__subtitle {
    color: white;
    margin: 0px;
    font-family: Courier;
    font-size: $font-size-large;

}

.page-header__actions {
    padding: 2rem;
}