.pushable {
  
}
  
  .ui.thin.left.sidebar,
  .ui.thin.right.sidebar {
    width: 260px;
    padding: 20px;
    background: #634987;
  }
  
  .ui.visible.thin.left.sidebar ~ .fixed,
  .ui.visible.thin.left.sidebar ~ .pusher {
    -webkit-transform: translate3d(260px, 0, 0);
    transform: translate3d(260px, 0, 0);
    width: calc(100% - 250px);
  }

  .ui.vertical.inverted.menu .item:before {
    background: unset;
  }

  .ui.sidebar.menu .item {
    border-radius: 3px !important;
  }

  .ui.icon.menu .item {
    text-align: left;
  }

  .customSegment {
    -webkit-box-shadow: none; 
    box-shadow: none; 
    border: none; 
    margin: 0;
  }
  