$dark-grey: #333333;
$blue: #1c88bf;
$dark-blue: #364051;
$off-blue: #8737C2;
$grey: #666;
$off-white: #E8E8E8;
$white: #FAFAFA;
$Chantilly: #F8BBD0;
$mandy: #ED5E68;
$silver: #CACCCD;

//font size
$font-size-large: 1.8rem;
$font-size-small: 1.4rem;

//spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 48rem;

.activeSideNavLink {
    font-weight: 600;
    color: green;
}

.muted-text {
    color: rgba(0,0,0,.6);;
}

.printable {
    display: none;
}

@media print {
    .printable {
        display: block !important;
    }
}

.icon {
    cursor: pointer
}